on:
    pull_request:
        branches: ["*"]
name: CI
permissions:
    contents: read
jobs:
    checks:
        name: ${{ matrix.check }}
        strategy:
            matrix:
                go: ["1.25.2"]
                os: [macos-latest]
                check: [lint, formatting, vet, test, test-race, test-integration]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v5
              with:
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  ref: ${{ github.head_ref }}
            - uses: actions/setup-go@v6
              with:
                  go-version: ${{ matrix.go }}
            - name: golangci-lint
              if: ${{ matrix.check == 'lint' || matrix.check == 'formatting' }}
              uses: golangci/golangci-lint-action@v9
              with:
                  version: v2.6
                  install-only: true
            - name: Install just
              uses: extractions/setup-just@v3
              with:
                  just-version: 1.43.0
            - name: Setup clang-tools
              if: ${{ matrix.check == 'formatting' }}
              run: |
                  brew install llvm
                  echo "/opt/homebrew/opt/llvm/bin" >> $GITHUB_PATH
            - name: Run just lint
              if: ${{ matrix.check == 'lint' }}
              run: just lint
            - name: Run just fmt-check
              if: ${{ matrix.check == 'formatting' }}
              run: just fmt-check
            - name: Run just vet
              if: ${{ matrix.check == 'vet' }}
              run: just vet
            - name: Run just test
              if: ${{ matrix.check == 'test' }}
              run: just test
            - name: Run just test-race
              if: ${{ matrix.check == 'test-race' }}
              run: just test-race
            - name: Enable Accessibility for Integration Tests
              if: ${{ matrix.check == 'test-integration' }}
              run: |
                # Enable accessibility for the current user
                sudo sqlite3 /Library/Application\ Support/com.apple.TCC/TCC.db "INSERT OR REPLACE INTO access VALUES('kTCCServiceAccessibility','com.apple.Terminal',0,2,4,1,NULL,NULL,0,'UNUSED',NULL,0,1701403733);"
                sudo sqlite3 /Library/Application\ Support/com.apple.TCC/TCC.db "INSERT OR REPLACE INTO access VALUES('kTCCServiceAccessibility','$(whoami)',0,2,4,1,NULL,NULL,0,'UNUSED',NULL,0,1701403733);"
                # Restart accessibility services
                sudo killall tccd
            - name: Run just test-integration
              if: ${{ matrix.check == 'test-integration' }}
              run: just test-integration
